langchain
langchain-community
langchain_core
langchain-huggingface
langgraph
fastapi
uvicorn
yfinance
mysql-connector-python
python-dotenv
pandas
python-multipart
pdfminer.six
black
faiss-cpu
sentence-transformers
sqlalchemy
pymysql
accelerate
langchain_mistralai